html, body {
  margin: 0;
  min-height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #F4F4F4;
  color: #222222;
}

* {
  box-sizing: border-box;
}

/* Helpers */
/*************************************/
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
@media (min-width: 769px) {
  .fl-ns { float: left; }
  .fr-ns { float: right; }
  .fn-ns { float: none; }
}

a, a:visited {
  color: #A463F2;
}

img {
  max-width: 100%;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
  font-size: 1rem;
  width: 100%;
  max-width: 16rem;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
  border-color: #A463F2;
  outline: 0;
}

.form {
  max-width: 32rem;
}
.form__field {
  margin-bottom: 0.5rem;
}
.form__field label {
  display: block;
  margin-bottom: 0.25rem;
}

.btn, a.btn {
  display: inline-block;
  background: #A463F2;
  border: 2px solid #A463F2;
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #FFFFFF;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.8;
}
.btn--large {
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
}
.btn--secondary {
  background: #FFFFFF;
  color: #A463F2;
}
.btn--inverse {
  background: #FFFFFF;
  border-color: #FFFFFF;
  color: #A463F2;
}

.note {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}
.note--danger {
  color: #A94442;
  background: #F2DEDE;
}
.note--warning {
  color: #8A6D3B;
  background: #FCF8E3;
}
.note--success {
  color: #3C763D;
  background: #DFF0D8;
}
.note--info {
  color: #31708F;
  background: #D9EDF7;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}
.table thead tr {
  background: #E8DDF4;
}
.table th, .table td {
  padding: 0.5rem 0.75rem;
  border: 2px solid #E8DDF4;
}
.table th {
  font-weight: bold;
  text-align: left;
}

/* Layout */
/*************************************/
.page-container {
  background: #FFFFFF;
  min-height: 100vh;
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.page-header {
  background: #A463F2;
  color: #FFFFFF;
  line-height: 3.75rem;
  padding: 0 2rem;
}
.page-header h1 {
  float: left;
  margin: 0;
}
.page-header h1 a {
  color: #FFFFFF;
  text-decoration: none;
}
.page-header aside {
  float: right;
}
.page-header aside span {
  color: #E8DDF4;
}
.page-header aside a {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 200ms, background 200ms;
  padding: 0 0.75rem;
}
.page-header aside a:hover {
  background: #FFFFFF;
  color: #A463F2;
}

.page-navigation {
  background: #E8DDF4;
  line-height: 2.5rem;
  padding: 0 2rem;
}
.page-navigation a {
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  display: inline-block;
  margin-right: 0.75rem;
}

.page-content {
  padding: 1rem 2rem;
}

.page-title {
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
  padding: 0 0 1rem;
}

/* Home */
/*************************************/
.home__hero {
  background: #A463F2;
  color: #FFFFFF;
  padding: 3rem;
  margin: -1rem -2rem;
  text-align: center;
}
.home__hero h1 {
  font-size: 3.5rem;
}
.home__hero h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.home__hero p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0;
}

.home__features {
  padding: 4rem 2rem;
}
@media (min-width: 769px) {
  .home__features__list {
    width: 40%;
    float: left;
  }
  .home__features__screen {
    width: 60%;
    float: right;
  }
}
.home__features__list h2 {
  margin-top: 0;
  font-weight: 300;
  font-size: 2rem;
}
.home__features__list ul {
  font-size: 1.2rem;
  padding-left: 1.4rem;
  line-height: 1.5;
}
.home__features__screen img {
  border: 2px solid #CCCCCC;
  border-radius: 3px;
}
