{% extends "layout.html" %}

{% block title %}{{ g.account.name }}{% endblock %}

{% block body %}
  <h1 class="page-title">
    {{ self.title() }}
    <a href="{{ url_for('trades_create', account_id=g.account.account_id) }}" class="btn fr">
      + New Trade
    </a>
  </h1>

  <h2>Overview</h2>

  <div class="mb3">
    <button class="btn btn--small btn--secondary js-overview-btn" data-n="1">Day</button>
    <button class="btn btn--small js-overview-btn" data-n="2">Current Month</button>
    <button class="btn btn--small js-overview-btn" data-n="3">Past Month</button>
    <button class="btn btn--small js-overview-btn" data-n="4">Current Year</button>
    <button class="btn btn--small js-overview-btn" data-n="5">Past Year</button>
  </div>

  {% for stats in [
    g.stats_day,
    g.stats_mtd,
    g.stats_month,
    g.stats_ytd,
    g.stats_year,
  ] %}
  <div class="well mb3 js-overview" style="display: {{(loop.index == 1) and 'block' or 'none'}};">
    <div class="cf">
      <table class="table w-50 fl">
        <tbody>
          <tr>
            <th class="tl"># Trades (Tot. / Win / Loss)</th>
            <td>
              {{stats.trade_count}} /
              <span class="c-green">{{stats.win_count}}</span> /
              <span class="c-red">{{stats.loss_count}}</span>
            </td>
          </tr>
          <tr>
            <th class="tl">Accuracy (% of wins)</th>
            <td>{{(stats.accuracy * 100 * 100000) | format_number}} %</td>
          </tr>
          <tr>
            <th class="tl">Average (Win / Loss)</th>
            <td>
              <span class="c-green">$ {{stats.avg_win | format_number}}</span> /
              <span class="c-red">$ {{stats.avg_loss | format_number}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table w-50 fl">
        <tbody>
          <tr>
            <th class="tl">Profit after commissions</th>
            <td class="{% if stats.profit_without_commissions >= 0 %}c-green{% else %}c-red{% endif %}">
              $ {{stats.profit_without_commissions | format_number}}
            </td>
          </tr>
          <tr>
            <th class="tl">Total (Profit / Commissions)</th>
            <td>$ {{stats.profit | format_number}} / $ {{stats.commissions | format_number}}</td>
          </tr>
          <tr>
            <th class="tl">Largest (Win / Loss)</th>
            <td>
              <span class="c-green">$ {{stats.largest_win | format_number}}</span> /
              <span class="c-red">$ {{stats.largest_loss | format_number}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}

  <h2>Trades</h2>

  <table class="table">
    <thead>
      <tr>
        <th class="tl">ID</th>
        <th class="tl">Symbol</th>
        <th class="tl">First O.</th>
        <th class="tl">Last O.</th>
        <th class="tr">Orders</th>
        <th class="tr">Avg. Buy/Sell Price</th>
        <th class="tr">Shares / ~Value</th>
        <th class="tr">P/L % / $</th>
      </tr>
    </thead>
    <tbody style="font-size: 0.85rem">
      {% for t in g.trades %}
        {% set trade_value = ((t.avg_buy_price or t.avg_sell_price) * t.quantity) or 1 %}
        <tr>
          <td>
            <a href="{{ url_for('trade', account_id=t.account_id, trade_id=t.trade_id) }}">
              #{{ t.trade_id }}
            </a>
          </td>
          <td>
            {{ t.symbol }}&nbsp;
            ({% if t.is_short %}short{% else %}long{% endif %})
          </td>
          <td>{{ t.first_order_date | format_datetime }}</td>
          <td>{{ t.last_order_date | format_datetime }}</td>
          <td class="tr">{{ t.orders_count }}</td>
          <td class="tr">
            ${{ t.avg_buy_price | format_number }}
            &nbsp;/&nbsp;
            ${{ t.avg_sell_price | format_number }}
          </td>
          <td class="tr">
            {{ t.quantity }}<br />
            ${{ trade_value | format_number }}
          </td>
          <td class="tr {% if t.profit >= 0 %}c-green{% else %}c-red{% endif %}">
            ${{ t.profit | format_number }}<br />
            {{ ((t.profit / trade_value) * 100 * 100000) | format_number }}%
          </td>
        </tr>
      {% else %}
        <tr><td colspan="8" class="tc">No trades yet.</td></tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    var overviews = document.querySelectorAll('.js-overview');
    var buttons = document.querySelectorAll('.js-overview-btn');

    buttons.forEach(function (b) {
      b.addEventListener('click', function(e) {
        var n = parseInt(e.target.getAttribute('data-n'))-1;

        // Un-select all buttons and select clicked one
        buttons.forEach(function (b) { b.classList.remove('btn--secondary'); });
        e.target.classList.add('btn--secondary');

        // Hide all overlays and show current one
        overviews.forEach(function (b) { b.style.display = 'none'; });
        overviews[n].style.display = 'block';
      });
    });
  </script>
{% endblock %}
