{% extends "layout.html" %}

{% block title %}
    {% if g.order %}
        Edit Order #{{ g.order.order_id }}
    {% else %}
        Add an Order
    {% endif %}
{% endblock %}

{% block body %}
  <form action="" method="post" class="form">
    <h1 class="page-title">{{ self.title() }}</h1>

    <div class="form__field">
      <label>Date</label>
      <input type="text" name="date" value="{{ request.form.date }}" placeholder="e.g. 2020-06-18 9:35" autofocus />
    </div>
    <div class="form__field">
      <label>Type</label>
      <select name="type">
        <option value="buy" {% if request.form.type == "buy" %}selected{% endif %}>Buy</option>
        <option value="sell" {% if request.form.type == "sell" %}selected{% endif %}>Sell</option>
        <option value="sell_short" {% if request.form.type == "sell_short" %}selected{% endif %}>Sell Short</option>
        <option value="buy_to_cover" {% if request.form.type == "buy_to_cover" %}selected{% endif %}>Buy to cover</option>
      </select>
    </div>
    <div class="form__field">
      <label>Quantity</label>
      <input type="number" name="quantity" value="{{ request.form.quantity }}" placeholder="e.g. 500" min="0" step="1" />
    </div>
    <div class="form__field">
      <label>Avg. Price</label>
      <input type="number" name="price" value="{{ request.form.price }}" placeholder="e.g. 45.23" min="0" step="0.01" />
    </div>
    <div class="form__field">
      <label>Commission</label>
      <input type="number" name="commission" value="{{ request.form.commission }}" placeholder="e.g. 4.95" min="0" step="0.01" />
    </div>

    <div class="form__field">
      <button type="submit" class="btn">Save</button>
    </div>
  </form>
{% endblock %}

