{% extends "layout.html" %}

{% set trade_value = ((g.trade.avg_buy_price or g.trade.avg_sell_price) * g.trade.quantity) or 1 %}

{% block title %}{{ g.account.name }}{% endblock %}

{% block body %}
  <h1 class="page-title">
    {{ self.title() }} &mdash; Trade
    <a href="{{ url_for('account', account_id=g.account.account_id) }}" class="btn btn--secondary fr">
      &larr; Back
    </a>
  </h1>

  <div class="well">
    <h2 class="mt0">
      Overview
      <a href="{{ url_for('trades_edit', account_id=g.trade.account_id, trade_id=g.trade.trade_id) }}" class="btn fr">
        Edit
      </a>
    </h2>
    <div class="cf">
      <table class="table w-50 fl">
        <tbody>
          <tr>
            <th class="tl w-50">Symbol</th>
            <td>{{ g.trade.symbol }}</td>
          </tr>
          <tr>
            <th class="tl">Target Entry Price</th>
            <td>{{ g.trade.target_entry | format_number }}</td>
          </tr>
          <tr>
            <th class="tl">Target Profit Price</th>
            <td>{{ g.trade.target_profit | format_number }}</td>
          </tr>
          <tr>
            <th class="tl">Stop loss price</th>
            <td>{{ g.trade.target_stop | format_number }}</td>
          </tr>
          <tr>
            <th class="tl w-50">Average Price (buy / sell)</th>
            <td>
              $ {{ g.trade.avg_buy_price | format_number }}
              &nbsp;/&nbsp;
              $ {{ g.trade.avg_sell_price | format_number }}
            </td>
          </tr>
          <tr>
            <th class="tl">Pos. Size (Approx.)</th>
            <td>$ {{ trade_value | format_number }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table w-50 fr">
        <tbody>
          <tr>
            <th class="tl w-50">First Order</th>
            <td>{{ g.trade.first_order_date | format_datetime }}</td>
          </tr>
          <tr>
            <th class="tl">Last Order</th>
            <td>{{ g.trade.last_order_date | format_datetime }}</td>
          </tr>
          <tr>
            <th class="tl">Qty (total / outstanding)</th>
            <td>
              {{ g.trade.quantity }} / {{ g.trade.quantity_outstanding }}
              ({% if g.trade.is_short %}short{% else %}long{% endif %})
            </td>
          </tr>
          <tr>
            <th class="tl">Commissions</th>
            <td>$ {{ g.trade.commissions | format_number }}</td>
          </tr>
          <tr>
            <th class="tl">Profit / Loss</th>
            <td class="{% if g.trade.profit >= 0 %}c-green{% else %}c-red{% endif %}">
              $ {{ g.trade.profit | format_number }} &middot;
              {{ ((g.trade.profit / trade_value) * 100 * 100000) | format_number }} %
            </td>
          </tr>
          <tr>
            <th class="tl">P / L w/ Commissions</th>
            <td class="{% if (g.trade.profit - g.trade.commissions) >= 0 %}c-green{% else %}c-red{% endif %}">
              $ {{ (g.trade.profit - g.trade.commissions) | format_number }} &middot;
              {{ (((g.trade.profit - g.trade.commissions) / trade_value) * 100 * 100000) | format_number }} %
            </td>
          </tr>
        </tbody>
      </table>
    </div>  

    <table class="table">
      <tbody>
        <tr>
          <th class="tl w-25">Reason for entry</th>
          <td>{{ g.trade.entry_reason or 'N/A' }}</td>
        </tr>
        <tr>
          <th class="tl">Reason for exit</th>
          <td>{{ g.trade.exit_reason or 'N/A' }}</td>
        </tr>
        <tr>
          <th class="tl">Analysis</th>
          <td>{{ g.trade.analysis or 'N/A' }}</td>
        </tr>
      </tbody>
    </table>
  </div>  

  <h2>
    Orders
    <a href="{{ url_for('orders_create', account_id=g.account.account_id, trade_id=g.trade.trade_id) }}" class="btn fr">
      + Add Order
    </a>
  </h2>

  <table class="table">
    <thead>
      <tr>
        <th class="tl">Date</th>
        <th class="tl">Type</th>
        <th class="tr">Quantity</th>
        <th class="tr">Price</th>
        <th class="tr">Commission</th>
        <th class="tr">Value</th>
        <th class="tr">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for o in g.orders %}
        <tr>
          <td>{{ o.date | format_datetime }}</td>
          <td>{{ o.type }}</td>
          <td class="tr">{{ o.quantity }}</td>
          <td class="tr">$ {{ o.price | format_number }}</td>
          <td class="tr">$ {{ o.commission  | format_number }}</td>
          <td class="tr">$ {{ (o.price * o.quantity) | format_number }}</td>
          <td class="tr">
            <a href="{{ url_for('orders_edit', account_id=g.account.account_id, order_id=o.order_id) }}">
              Edit
            </a>
            &nbsp;
            <a href="{{ url_for('orders_delete', account_id=g.account.account_id, order_id=o.order_id) }}">
              Delete
            </a>
          </td>
        </tr>
      {% else %}
        <tr><td colspan="7" class="tc">No orders yet.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
